{% extends "layouts/main.twig" %}
{% set title = 'Корзина' %}
{% block content %}
    <div style='min-height: 60vh;'><h3>Корзина пуста</h3> </div>
    <a href="/good"><button>Вернутся в каталог</button></a>

{% endblock %}