{% extends "layouts/main.twig" %}
{% block content %}
    <h2> {{ user.login }} </h2>
    <h2> {{ user.pass }} </h2>
{% endblock %}
































{#<?php#}
{#/**#}
{# * @var \App\modules\User [] $user#}
{# */#}
{#unset($_SESSION['title']);#}
{#$_SESSION['title'] = 'Пользователь: ' . $user->name;#}

{#    echo "<h2>{$user->login} </h2>";#}
{#    echo "<h2>{$user->pass} </h2>";#}